/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



html {
    background-color:#1d8dcd;
}

body {
    max-width:940px;
    margin:0 auto;
    border:1px solid grey;
    background-color:white;
    font-size:16px;
    font-family: 'Playfair Display', serif;
}


h1 {
    font-size: 1.5em;
    color: #f89924;
    text-transform:uppercase;
  
    }


h2 {
    font-size: 1.25rem;
    color: #9972a4;


}

h3 {
    font-size 1rem;
    color:#00549e;
}

h4 {
    font-size 1rem;
    color:#c0d62d;
}

p {
    font-size:0.875rem;
    color:#050002;
    font-family:"Cardo",serif;
    font-weight: normal;
    margin: 0 0 23px 0;
}

ul {
   font-size:0.875rem;
    color:#050002;
    font-family:"Cardo",serif;
    font-weight: normal;
    margin: 0 0 23px 0; 
}

hr {
    color:purple;

}

a {
    text-decoration:none;
}


.main-content {
    width:96%;
    padding:0 4%;
   

}

.img {
    width:100%;
    height:auto;
}



.btn {
    background-color:#c0d62d;
    color:#00549e;
    font-size:1.125rem;
    font-weight:bold;
    text-transform:uppercase;
    text-align: center;
    box-shadow:2px 2px 0px #DADADA;
    border:1px soild #DADADA;
    height:50px;
    width:100%;
    border-radius:15px;
 

}



.btn:hover{
    background-color:#ff00ff;
}

.clear {
    clear:both;
}

/* =========== HEADER =========================================================== */
header {

    
    background-color:#c0d62d;
  
    
}

/*.logo {
    width:90%;
    margin:0 auto;
    padding-bottom:10px;

}*/
/*.navbar-custom {
    width:100%;
    background-color:#dddddd;
    background-color:white;
}

nav ul {
    margin-top:10px;
}*/

.navbar  {
   background-color:#c0d62d;
   border:none;
   margin-bottom:0;
}


.navbar-nav {
    margin-top:10px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.dropdown-menu>li>a ,
.navbar-default .navbar-nav>li>a {
    color:#00549e;
    font-size:1.125rem;
    font-family: 'Playfair Display', serif;
    text-align:center;  /* remove */
}

.navbar-default .navbar-nav>li>a:hover {
   color:#ff00ff;
}

.navbar-brand {
    width:80%;
}

.navbar-brand img {
    width:100%;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
   border:4px solid orange; /* remove bottom */
  /* background-color: #c0d62d; *//* add to bottom */
   color:#00549e;
}

.navbar-default .navbar-toggle {
    background-color:white;
    border-color: grey;
}

#bs-example-navbar-collapse-1 {
background-color:#e1e1e1;

}

.menu {
    list-style: none;
}

.menu li {
    list-style-type:none;
    display:block; 
    margin-right:30px;
    padding:10px 0 10px 0;
    font-size:1.125rem;
    font-family: 'Playfair Display', serif;
    text-transform:uppercase;
    list-style-type:none;
    text-align:center;
    border-bottom:1px solid #dddddd;
}


.menu li a {
    color:#00549e;
}

.menu li a:hover {
    color:#ff00ff;
}


/* =========== HERO AREA =========================================================== */

.hero-area {
    width:100%;
}

.hero-area img {
    width:100%;
    margin-bottom:10px;
    border: 1px solid grey;
}

.hero-area p {
    text-align:justify;
    padding:0 10px;
}
.class-cta,
.teacher-cta{
    text-align:center;
     margin:10px 0;

}

.class-cta .btn,
.teacher-cta .btn {
    width:100%; 

}


/* =========== HOME PAGE =========================================================== */


article.home-page {
   width:100%;
}



/* =========== ANNOUNCEMENTS =========================================================== */


.announcements h2:hover {
    color:#ff00ff;
    
}


.announcements {
    width:100%;
}

.announce-wrapper { 
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:stretch;

}

.announce-pic {
    flex:1;

    
}

.announce-pic> figure {
   margin:1em 0;
   width:100%;
}

.announce-article {
 flex:2;
 padding:0 20px;
}




}

.announce-figure {
    width:100%;
}

.announce-pic figure img {
    width:100%;
}

.announcements h1 {
  text-transform:uppercase;
  text-align:center;
}


.announce-text {
    display:none;
}

.read-more {
    float:right;
}


.read-more a{
    color:#1d8dcd;
    text-decoration:none;
    font-size:.75em;
}



/*.announce-pic {
   width:33%;
   float:left;
   margin:0 auto;
   padding:5px 0;
}

.announce-pic img {
    width:100%;
    border:1px solid grey;
}

.announce-title {
    width:62%;
    float:left;
    padding-left:10px;
}

.announce-text {
    display:none;
}

.announcement-page .announce-pic {
    width:100%;
    float:clear;
}


.announcement-page .announce-title {
    width:100%;
    float:clear;
}

.announcement-page .announce-text{
   display:block;
}
*/


 /* =========== Class List =========================================================== */
}
.class-list-page {
    width:100%;
 
}

.date-time h2 {
    color:#ff00ff;
}

.material-wrapper h3,
.detail-wrapper h3{
    color:  #f89924;
    text-decoration:underline;
}

.detail-wrapper p {
    text-align:justify;
}


/* =========== Class Details =========================================================== */

.class-detail-page h1 {
    text-transform:uppercase;  
}

.class-detail-page h2 {
    text-decoration:underline;
    color:#ff00ff;
    margin: 0px;


}

.day-wrapper {
    width:100%;
    padding:10px;
   
}
.individual-class {
   
  
}
.class-name {
    width:40%;
    float:left;
}

.class-name p {
     font-size:1.125rem; 
     text-align:left;
  
}

.move-over {
    padding-left:10px;
}

.see-input {

    float:left;
    padding-left: 4%;
}

.see-input .btn {
    text-transform:none;
    font-size:1rem;
    height:75%;
    margin-top:10px;
}

/* =========== About Page =========================================================== */

.about-page {
    width:100%;
}

.map-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
 
.map-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.team-bio {
    display:none;
}

.bio {
    margin-bottom:15px;
}

.bio a {
    color:#00549e;
    font-weight:700;

}

.bio a:hover {
    color:#ff00ff;
}



#team-img-teacher1 {
    background-image:url('../img/teacher1.jpg');
}

#team-img-teacher2 {
    background-image:url('../img/teacher2.jpg');
}

#team-img-teacher3 {
    background-image:url('../img/teacher3.jpg');
}

#team-img-teacher4 {
    background-image:url('../img/teacher4.jpg');
}

#team-img-teacher5 {
    background-image:url('../img/teacher5.jpg');
}

#team-img-teacher6 {
    background-image:url('../img/teacher6.jpg');
}

.team-img{
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    width:30%;
    padding-bottom:30%;
    float:left;
    margin-right:20px;
    border:1px solid #ccc;
}

 /* =========== Teachers  =========================================================== */

.teachers-page {
    width:100%;
}

.teachers-page .team-img{
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    width:50%;
    padding-bottom:50%;
    float:left;
    margin-right:20px;
    border:1px solid #ccc;
}

.teacher-text p{
    text-align:justify;
}


/* =========== NewsLetter =========================================================== */
aside {
    width:90%;
    margin: 0 auto;
    text-align:center;
    margin-bottom:10px;
}

.email-input{
  width:90%;
   margin-bottom:10px;
   height:40px;
   color:light-grey;
}

.newsletter-wrapper .btn {
    margin-bottom:10px;
}

/* =========== Signup =========================================================== */

.signup-page {
    width:100%;
    margin-bottom:10px;
}

.signup-page .btn {
    width:90%;
    margin-top:10px;
}


/* =========== NewsLetter =========================================================== */
footer {
    height:100px;
    background-color:grey;
    width:100%;
   
   
}

footer p{
    margin:20px 10px 0 0px;
    color:white;
    float:right;
}

footer a {
    color:#EEEEEE;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* =============================== */
/* =========== TABLET ============ */
/* =============================== */
@media (min-width:768px) {

    h2 {
        font-size: 1.3125 rem;
    }

    h3 {
        font-size 1.125rem;
        
    }

    h4 {
        font-size 1rem;
    }

    p {
        font-size:1rem;

    }
 /* =========== HEADER =========================================================== */

header {
    padding: 20px 0;
    background-color:#c0d62d;
    margin-bottom:15px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.dropdown-menu>li>a ,
.navbar-default .navbar-nav>li>a {
    text-align:left;  
}

.navbar-default .navbar-nav>li>a:hover {
 color:#ff00ff;
}

.navbar-brand {
    width:100%;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
   background-color: #c0d62d; 
   color:#00549e;
}

#bs-example-navbar-collapse-1 {
    background-color:#c0d62d;

}

    /* =========== CALL TO ACTION =========================================================== */

    .class-cta {
        width:49%;
        float:left;
        margin-top:0px
    }

    .teacher-cta{
        width:49%;
        float:right;
        margin-top:0px;
    }

   /* =========== ANNOUNCMENT =========================================================== */

.announcements h1 {
   text-align:left;
}
.announce-text {
    display:block;
}

    /* =========== About =========================================================== */


    .map-container {
        position: relative;
        padding-bottom: 37.5%;
        height: 0;
        overflow: hidden;
        float:right;
        width:50%;
    }

    .map-container iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }


    .address {
        width:50%;
        float:left;
    }

    .bio {
        width:33.3%;
        float:left;
    }

    .team-name {
        clear:both;
    }

    .team-img{

        width:50%;
        padding-bottom:50%;

    }


    /* =========== Teachers  =========================================================== */



    .teachers-page .team-img{

        width:30%;
        padding-bottom:30%;

    }


    /* =========== NewsLetter =========================================================== */

    .email-input{
        width:47%;
        float:left;
       }

    .newsletter-wrapper .btn {

        width:47%;
        float:right;
    }

 /* =========== Classes =========================================================== */
 .day-wrapper {
 width:47%;
float:left;

}
/* =========== Signup =========================================================== */

.signup-page {
    width:100%;
    margin-bottom:30px;
}

.signup-page .btn {
   
}

.signup-page input {
    width:90%;
}

.submit-wrapper {
    width:50%;
    margin: 0 auto;
}

.input-wrapper {
    width:50%;
    float:left;
}


}
/* =========== DESKTOP ============ */

@media (min-width:940px) {
    html {
        background-color:#1d8dcd;
    }

    body {
        max-width:940px;
        margin:0 auto;
        border:1px solid grey;
        background-color:white;

    }

    h1 {
        font-size:2rem;
    }

    h2 {
        font-size: 1.5rem;

    }

    h3 {
        font-size :1.3125rem;
    }

    h4 {
        font-size 1rem;
        color:#c0d62d;
    }

 


    /* =========== About =========================================================== */


    .bio {
        width:25%;
        float:left;
    }


    .team-img{

        width:50%;
        padding-bottom:50%;

    }

}



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
